.header {
  height: 200px;
}
#foto {
  border-radius: 100%;
  width: 200px;
  z-index: 1;
  position: absolute;
  margin-left: 50px;
  margin-top: 50px;
}

#moldura {
  position: absolute;
  width: 270px;
  z-index: 2;
  margin-left: 13px;
  margin-top: 18px;
}

#name,
h1 {
  margin-left: 270px;
  padding-top: 160px;
  font-size: 50px;
}

.body {
  font-size: 20px;
  margin-top: 200px;
  margin: 50px;
  padding-top: 20px;
  padding-left: 20px;
}
body {
  background-color: rgb(235, 224, 202);
  color: #49130eff;
  font-family: "Space Grotesk", sans-serif;
}

.aboutme {
  font-size: 25px;
  line-height: 40px;
  margin: auto;
  text-align: center;
  width: 90%;
}

#nametext {
  text-decoration: none;
  color: rgb(128, 11, 0);
}

a {
  color: rgb(128, 11, 0);
  font-weight: bolder;
}

h2 {
    margin-top: 60px;
    margin-left: 100px;
    margin-bottom: 5px;
    font-size: 35px;
    line-height: 40px;
  }

ul {margin-top: 10px;
    margin-left: 100px;
    font-size: 30px;
    line-height: 40px;
    list-style: square;
  } 

.foot {
  font-size: 20px;
  margin-top: 200px;
  margin-left: 50px;
}
